/* ======== VARIABLES ======== */
:root {
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --primary-white-color: #fff;
  --primary-black-color: #434455;
  --secondary-black-color: #2e2f42;
  --primary-accent-color: #404bbf;
}

/* ======== /VARIABLES ======== */

/* ======== COMMON / reset STYLES ======== */
body {
  font-family: var(--primary-font);
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto; 
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-black-color);
}

.benefits-desc,
.team-desc,
.portfolio-desc {
  font-size: 16px;
  color: var(--primary-black-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-black-color);
}
/* ======== /COMMON STYLES ======== */

/* ======== HEADER STYLES ======== */

.page-header {
  border-bottom: 1px solid #e7e9fc;     
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;   
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: var(--secondary-black-color);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;  
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-black-color);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  color: var(--primary-black-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--primary-accent-color);
}
/* ======== /HEADER STYLES ======== */

/* ======== HERO SECTION ======== */
.hero {
  background-color: var(--secondary-black-color);
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);   
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-accent-color);
}

/* ======== /HERO SECTION ======== */

/* ======== BENEFITS SECTION ======== */

/* ======== /BENEFITS SECTION ======== */

/* ======== TEAM SECTION ======== */
.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: var(--primary-white-color);
}

/* ======== /TEAM SECTION ======== */

/* ======== PAGE FOOTER ======== */
.page-footer {
  background-color: var(--secondary-black-color);
}

/* .footer-container {
  display: flex;
} */

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-desc {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
}
